{% extends 'base.html' %}
{% load static %}
{% block title %}home{% endblock %}
{% block content %}
<style>
    #calendar-container {
        display: flex;
        justify-content: center;  
        height: 100%;            
    }

    #calendar {      
        width: 100%;            
        overflow-y: auto;         
    }
</style>

<div id="calendar-container">
    <div class="col-md-3">
        <h5>Calendário da Turma:</h5>
        <select id="turma-select" class="form-select" aria-label="Selecionar Turma" style="width: 95%;">
            <option value="" selected>Selecione a Turma</option>
            {% for turma in turmas %}
                <option value="{{ turma.id }}">{{ turma.nome }}</option>
            {% endfor %}
        </select>
        <hr class="thin-line mx-auto mt-4" style="width: 80%;">
        <h5>Eventos do dia:</h5>
        {% for event in events_today %}
            <div class="card mb-2" style="width: 95%;">
                <div class="card-body">
                    <h5 class="card-title">{{ event.title }}</h5>
                    <p class="card-text">{{ event.description }}</p>
                    <a href="/task/{{ event.id }}" class="btn btn-primary">Ver Detalhes</a>
                </div>
            </div>
        {% empty %}
            <p>Não há eventos para hoje.</p>
        {% endfor %}
    </div>    
    <div class="col-md-9">
        <div id="calendar"></div>
    </div>
</div>

<script src="{% static 'fullcalendar/dist/index.global.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var turmaSelect = document.getElementById('turma-select');

        function fetchEvents(turmaId) {
            var url = '/api/tasks/';
            if (turmaId) {
                url += '?turma_id=' + turmaId;
            }

            calendar.removeAllEvents();
            calendar.refetchEvents();
        }

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'pt-br',
            buttonText: {
                today: 'Hoje',
                month: 'Mês',
                week: 'Semana',
                day: 'Dia',
                list: 'Agenda'
            },
            events: function(fetchInfo, successCallback, failureCallback) {
                var turmaId = turmaSelect.value;
                var url = '/api/tasks/';

                if (turmaId) {
                    url += '?turma_id=' + turmaId;
                }

                fetch(url)
                    .then(response => response.json())
                    .then(events => successCallback(events))
                    .catch(error => failureCallback(error));
            },
            eventClick: function(info) {
                var taskId = info.event.id;
                window.location.href = '/task/' + taskId;
            },
            displayEventTime: true,
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
        });

        calendar.render();

        turmaSelect.addEventListener('change', function() {
            fetchEvents(turmaSelect.value);
        });
    });
</script>

{% endblock %}