{% extends 'base.html' %}
{% load static %}
{% block title %}home{% endblock %}
{% block content %}
<style>
    #calendar-container {
        display: flex;
        justify-content: center;  
        height: 100%;            
    }

    #calendar {      
        width: 100%;            
        overflow-y: auto;         
    }
</style>

<div id="calendar-container">
    <div class="col-md-3">
        <h5>Eventos do dia:</h5>
        {% for event in events_today %}
            <div class="card mb-2" style="width: 95%;">
                <div class="card-body">
                    <h5 class="card-title">{{ event.title }}</h5>
                    <p class="card-text">{{ event.turma }}</p>                    
                    <p class="card-text">{{ event.description }}</p>
                    <a href="/task/{{ event.id }}" class="btn btn-primary">Ver Detalhes</a>
                </div>
            </div>
        {% empty %}
            <p>Não há eventos para hoje.</p>
        {% endfor %}
    </div>    
    <div class="col-md-9">
        <div id="calendar"></div>
    </div>
</div>

<script src="{% static 'fullcalendar/dist/index.global.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'pt-br',
            buttonText: {
                today: 'Hoje',
                month: 'Mês',
                week: 'Semana',
                day: 'Dia',
                list: 'Agenda'
            },
            events: '/api/tasks/',  // URL da API para carregar todos os eventos
            eventClick: function(info) {
                var taskId = info.event.id;
                window.location.href = '/task/' + taskId;
            },
            displayEventTime: true,
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
        });

        calendar.render();
    });
</script>
{% endblock %}