{% extends 'base.html' %}

{% block title %}Lista de Tarefas{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">Olá, {{ user.username }}</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <div class="card text-center bg-primary text-white mb-4">
                        <div class="card-body">Eventos do Dia</div>
                        <div class="card-footer d-flex align-items-center justify-content-center">
                            <h1>{{ tasks_today_count }}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-center bg-warning text-white mb-4">
                        <div class="card-body">Eventos da Semana</div>
                        <div class="card-footer d-flex align-items-center justify-content-center">
                            <h1>{{ tasks_week_count }}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card bg-success text-center text-white mb-4">
                        <div class="card-body">Total de Eventos</div>
                        <div class="card-footer d-flex align-items-center justify-content-center">
                            <h1>{{ total_tasks_count }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
